<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allyes.minimec.domain.mapper.sys.OperatLogMapper">
  <resultMap id="BaseResultMap" type="com.allyes.minimec.domain.model.sys.OperatLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
    <result column="action_url" jdbcType="VARCHAR" property="actionUrl" />
    <result column="sub_module" jdbcType="VARCHAR" property="subModule" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="mean" jdbcType="VARCHAR" property="mean" />
    <result column="function" jdbcType="VARCHAR" property="function" />
    <result column="sub_function" jdbcType="VARCHAR" property="subFunction" />
    <result column="param_data" jdbcType="VARCHAR" property="paramData" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>

  <select id="selectBySearch" parameterType="com.allyes.minimec.domain.dto.sys.OperatLogDto" resultType="com.allyes.minimec.domain.dto.sys.OperatLogDto">
    SELECT
    user_name userName, user_mobile userMobile, ip_addr ipAddr, action_url actionUrl, module module, mean,
    function, param_data paramData, create_time createTime
    FROM operat_log
    <where>
      <if test="userName != null and userName != ''">
        user_name like CONCAT('%',#{userName},'%')
      </if>
      <if test="ipAddr != null and ipAddr != ''">
        AND ip_addr like CONCAT('%',#{ipAddr},'%')
      </if>
      <if test="userMobile != null">
        AND user_mobile like CONCAT('%',#{userMobile},'%')
      </if>
      <if test="startTime != null and startTime != ''">
        <![CDATA[AND create_time >= str_to_date(concat(#{startTime},' 00:00:00'),'%Y-%m-%d %H:%i:%s')]]>
      </if>
      <if test="endTime != null and endTime != ''">
        <![CDATA[AND create_time <= str_to_date(concat(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')]]>
      </if>
      <if test="module != null and module != ''">
        AND module like CONCAT('%',#{module},'%')
      </if>
      <if test="mean != null and mean != ''">
        AND mean like CONCAT('%',#{mean},'%')
      </if>
      <if test="function != null and function != ''">
        AND function like CONCAT('%',#{function},'%')
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

</mapper>