<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allyes.minimec.domain.mapper.sys.ParamInfoMapper">
  <resultMap id="BaseResultMap" type="com.allyes.minimec.domain.model.sys.ParamInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>

  <select id="selectBySearch" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from param_info
    <where>
      <if test="searchVal != null">
        param_value like CONCAT('%',#{searchVal},'%')
        OR param_name like CONCAT('%',#{searchVal},'%')
      </if>
    </where>
  </select>

</mapper>