<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allyes.minimec.domain.mapper.sys.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.allyes.minimec.domain.model.sys.Resource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>

  <select id="selectAllByUrlNotNull" resultMap="BaseResultMap">
    select * from resource where url!='' and url is not null
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from resource order by cast(sort as SIGNED)
  </select>

  <select id="selectMenuByRoleList" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT  r.*,group_concat(r.id) as ids FROM resource r LEFT JOIN role_resource e ON r.id = e.resource_id LEFT JOIN role s ON e.role_id = s.id WHERE r.is_delete=0 AND s.id in (#{roleIds,jdbcType=VARCHAR}) and r.type = 1 group by id order by r.sort
  </select>

  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select r.* from resource r left join role_resource rr on r.id=rr.resource_id where  r.is_delete=0 AND rr.role_id =#{roleId,jdbcType=INTEGER}
  </select>

  <select id="selectParentIdsById" parameterType="java.lang.Integer" resultType="java.lang.String" >
    SELECT
    SUBSTRING(paths, 2) AS parent_ids
    FROM
    (SELECT
    id,
    parent_id,
    @pathlevel:=CONCAT(@pathlevel, '|', id, ':', @le, '|') pathlevel,
    @pathnodes:=IF(parent_id = 0, '', CONCAT_WS(',', IF(LOCATE(CONCAT('|', parent_id, ':'), @pathall) > 0, SUBSTRING_INDEX(SUBSTRING_INDEX(@pathall, CONCAT('|', parent_id, ':'), - 1), '|', 1), @pathnodes), parent_id)) paths,
    @pathall:=CONCAT(@pathall, '|', id, ':', @pathnodes, '|') pathall
    FROM
    resource, (SELECT @pathlevel:='', @pathall:='', @pathnodes:='') vv
    ORDER BY parent_id , id) src
    WHERE
    id = #{pid,jdbcType=INTEGER}
    ORDER BY id
  </select>

  <select id="selectByRoleList" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
    select distinct r.* from resource r left join role_resource rr on r.id=rr.resource_id  where 1=1 and rr.role_id IN
    <foreach item="roleId" index="index" collection="list" open="(" separator="," close=")">
      #{roleId,jdbcType=INTEGER}
    </foreach>

  </select>
  
</mapper>