<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allyes.minimec.domain.mapper.sys.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.allyes.minimec.domain.model.sys.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
    insert into user_role (user_id, role_id) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.userId,jdbcType=INTEGER},#{item.roleId,jdbcType=INTEGER})
    </foreach>
  </insert>

  <delete id="deleteByUserId" parameterType="java.lang.Integer" >
    delete from user_role
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRoleId" parameterType="java.lang.Integer" >
    delete from user_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select ur.role_id from user_role ur left join role r on ur.role_id = r.id where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
</mapper>