<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header_js(~{::title})" >
    <title>首页</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="layout/header :: header" />
    <div th:replace="layout/sidebar :: sidebar" />
    <div class="content-wrapper" style="position: relative;">
        111
    </div>
    <div th:replace="layout/footer :: footer" />
</div>
<!-- ./wrapper -->
</body>
</html>



