<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header_js(~{::title})" >
    <title>修改密码</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="layout/header :: header" />
    <div th:replace="layout/sidebar :: sidebar" />
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="stepy-box">
                        <div class="stepy-header">
                            <ul>
                                <li data-mark="#step1" class="active"><a>1</a></li>
                                <li data-mark="#step2"><a>2</a></li>
                                <li data-mark="#step3"><a>3</a></li>
                            </ul>
                            <ul class="tab-function">
                                <li class="active"><a data-toggle="tab" href="#step1">1</a></li>
                                <li><a data-toggle="tab" href="#step2">2</a></li>
                                <li><a data-toggle="tab" href="#step3">3</a></li>
                            </ul>
                        </div>
                        <div>
                            <form id="passwordForm" class="form-horizontal" role="form"  name="objInfoForm">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="step1">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">输入旧密码</label>
                                            <div class="col-sm-7">
                                                <input type="password" name="itemCode" id="password" check-type="required" required-message="请输入旧密码" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 text-center">
                                                <button id="next" type="button" class="btn btn-info">下一步</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step2">
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">输入新密码</label>
                                            <div class="col-sm-7">
                                                <input type="password" name="itemCode" id="newpassword" check-type="required" required-message="请输入新密码" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">再次输入新密码</label>
                                            <div class="col-sm-7">
                                                <input type="password" name="itemCode" id="newpasswordagain" check-type="required" required-message="请再次输入新密码" class="form-control" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 text-center">
                                                <button id="submit" type="button" class="btn btn-info">修 改</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="step3">
                                        <div class="text-center" >
                                            <p>修改密码成功</p>
                                            <p><i id="count">3</i>秒钟后自动<a href="/main/">返回首页</a></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="layout/footer :: footer" />
    <script th:src="@{/js/sys/user/password.js}" ></script>
</div>
<!-- ./wrapper -->
</body>
</html>